
@{
    ViewBag.Title = "Index";
}


<pre>     
    <h1>Marmara University</h1>
<style>
    pre {
        display: block;
        padding: 9.5px;
        margin: 0 0 10px;
        font-size: 13px;
        line-height: 1.42857143;
        color: #333;
        word-break: break-all;
        word-wrap: break-word;
        background-color: #ffffff;
        border:0px;
    }
</style>
</pre>


<div class="thumbnail">
    
        <img src="~/images/m_logo.png" alt="Logo" width="500" height="600" >
    
</div>


<style>
  
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #0e096e;
    }

    p {
        text-indent: 50px;
        text-align: justify;
        letter-spacing: 3px;
    }

    a {
        text-decoration: none;
        color: #008CBA;
    }
    body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 15px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
    }
</style>
    <pre>
    <h1>About Us </h1>
    </pre>
        <p>

            <b>
                With its deep-rooted experience, Marmara University is a pioneering, international and contemporary university with its multilingual education,
                producing value in science, culture, art and sports for all its stakeholders by prioritizing social values,
                aiming at sustainability with the importance it attaches to lifelong learning.

            </b>

        </p>

<p>
    <b>
        Marmara University operates in 8 campuses scattered on the Anatolian and European sides of Istanbul. 
        Of these, Acıbadem, Anadoluhisarı, Bağlarbaşı, Recep Tayyip Erdoğan Campus, Göztepe, Kartal, Mehmet Genç Campus campuses are on the Anatolian side,
        and the Sultanahmet campus is on the European side.
    </b>
</p>
<p>
    <b>
        The Recep Tayyip Erdoğan Campus, which includes the Faculties of Engineering and Technology, is the largest in terms of area, is the campus.
    </b>
</p>

  